APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:5WFrNoUVwcOcz0XshJDWBHkeMRvC+qLSoE/V87HLEJg=
APP_DEBUG=true
APP_URL=http://localhost:8080

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=laravel
DB_USERNAME=laravel
DB_PASSWORD=laravel

CACHE_DRIVER=redis
SESSION_DRIVER=redis

REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

NEWSAPI_API_KEY=66a943bfadd84d958413023f39c8cab1
GUARDIAN_API_KEY=9e411556-c71a-4d38-b35c-7f54487dfe8d
NYTIMES_API_KEY=DCSvXc1OWvGJPj2W0lDBM5YjURKU0zxA